{% extends 'base.html' %}
{% load static %}


{% block css %}
    {{ block.super }}
    <style>
        .cat {
            height: 35vh;
            background-size: cover;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            cursor: hand;
        }

        .cat h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 300;
        }

        .selected {
            opacity: 0.6;
        }

        #confirm {
            display: flex;
            justify-content: center;
            margin: 24px;
        }

        #confirm button {
            padding: 24px;
            background-color: white;
            border: 1px solid deepskyblue;
            border-radius: 5px;
        }

        #confirm button:hover {
            color: white;
            background-color: #00a7e2;
        }

        .container h2 {
            text-align: center;
            margin-bottom: 34px;
        }

        .cat-container {
            background-color: #009bcd;
        }

        #loader-container {
            height: 100vh;
            width: 100vw;
            display: none;
            justify-content: center;
            align-items: center;
        }

    </style>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script>
        cat_ids = new Set();
        $('.cat').click(function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                const id = $(this).attr('id');
                cat_ids.delete(id);
            } else {
                $(this).addClass('selected');
                const id = $(this).attr('id');
                cat_ids.add(id);
            }
        });

        $('#confirm > button').click(function () {

            // Hide all the topics
            $("#topics").hide();
            // Show loading animation
            $("#loader-container").css({display: 'flex'});

            console.log(Array.from(cat_ids).join('-'));

            topic_ids = Array.from(cat_ids).join('-');

            $.post('/navigation/topics_add/', {'topic_ids': topic_ids}).done(function () {
                window.location.href = '{% url 'suggestion' %}';
            }).fail(function (err) {
                $("#loader-container").hide();
                $("#topics").show();
                console.log(err);
                showMessage("Error, can't validate your topics", ALERT_DANGER, false);
            });
        });

    </script>
{% endblock %}


{% block content %}
    <div id="topics" class="container">
        <h2>Choose Your Prefered Topics</h2>
        {% for category in categories %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="cat-container">
                        <div id="{{ category.id }}" class="cat"
                             style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url({{ category.image.url }})">
                            <h1>{{ category.name }}</h1>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}

        <div id="confirm">
            <button>Confirm Choices</button>
        </div>

    </div>

    <div id="loader-container">
        <div class="loader"></div>
    </div>

{% endblock %}
