{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{{ user.username }}{% endblock %}


{% block css %}
    {{ block.super }}
    <style>
        .row form {
            margin-left: 14px;
            margin-top: 20px;
        }
    </style>
{% endblock %}


{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3">

                <h1>{% trans "Settings" %}</h1>

                <h4>Email</h4>
                <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>

                <form class="form-horizontal" method="post" action="{% url 'users:update' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

                <!-- Add social data -->
                <h4>{% trans 'Add social data' %}</h4>

                <a href="{% url 'users:twitter' %}" class="btn btn-primary"><i class="fa fa-twitter"></i> Twitter</a>

            </div>
        </div>
    </div>

{% endblock %}
