{% extends "books/index.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/users/user_detail.css' %}">
{% endblock %}


{% block content %}
    <div class="container">

        <!-- Action buttons -->
        <div class="row">

            {# User profile unfos #}
            <div class="col-xs-12 col-sm-3">
                {#         Profile image#}
                <img id="profile-image" src="{{ object.image.url }}" alt="">


                {# User first and last name #}
                {% if object.name %}
                    <h3>{{ object.name }}</h3>
                {% endif %}


                {# Username #}
                <h4 id="username">{{ object.username }}</h4>


                <p id="user-bio">{{ object.bio }}</p>


                {# Follow btn #}
                {% if object != request.user %}
                    <button id="follow-btn" class="btn btn-default">Follow</button>
                {% endif %}



                <hr>

                {# If its the owner of the profile #}
                {% if object == request.user %}
                    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
                    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
                {% endif %}


            </div>

            {# Books and followers #}
            <div class="col-xs-12 col-sm-9">

                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#books" data-toggle="tab">Books <span
                            class="badge">{{ books|length }}</span></a></li>
                    <li><a href="#followers" data-toggle="tab">Followers <span class="badge">0</span></a></li>
                    <li><a href="#following" data-toggle="tab">Following <span class="badge">0</span></a></li>
                </ul>


                <div class="tab-content">
                    <div id="books" class="tab-pane active">
                        {% for book in books %}

                            <div class="book">
                                <h4 class="project-name"><a href="{% url 'books:detail' book.book.slug %}">{{ book.book.name }}</a></h4>
                                <p class="project-description">{{ book.book.description }}</p>
                                {% for tag in book.book.tags.all %}
                                    <span class="badge badge-pill badge-default">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            <hr>


                        {% endfor %}

                    </div>


                    <div id="followers" class="tab-pane">
                        <h1>FOLLOWERS</h1>
                    </div>


                    <div id="following" class="tab-pane">
                        <h1>FOLLOWING</h1>
                    </div>

                </div>

            </div>


        </div>

    </div>
{% endblock content %}

