{% extends "base.html" %}
{% load crispy_forms_tags i18n books %}

{% block title %}{{ user.username }}{% endblock %}


{% block css %}
    {{ block.super }}
    <style>
        .row form {
            margin-left: 14px;
            margin-top: 20px;
        }

        #social-data {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .item div:first-child {
            display: inline-block;
            font-size: 22px;
        }

        .item a {
            float: right;
        }
    </style>
{% endblock %}


{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3">

                <h1>{% trans "Settings" %}</h1>

                <h4>Email</h4>
                <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>

                <form class="form-horizontal" method="post" action="{% url 'users:update' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

                <div id="social-data">
                    <!-- Add social data -->
                    <h4>{% trans 'Social data' %}</h4>

                    <div class="item">
                        <div><i class="fa fa-twitter"></i> Twitter</div>
                        {% if not user|hasTwitter %}
                            <a href="{% url 'users:twitter_add' %}" class="btn btn-primary">Add</a>
                        {% else %}
                            <a href="{% url 'users:twitter_remove' %}" class="btn btn-danger">Remove</a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
