.m-b-1 {
  margin-bottom: 0 !important;
}

#book-detail-infos {
  padding: 24px !important;
  font-size: 14px;
}

.book-infos {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  max-width: 80rem;
}

.book-infos > li > span {
  font-weight: 700;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8px;
  margin-bottom: 18px;
}

.share > span {
  font-weight: 800;
}

.share > a >i {
  margin-left: 8px;
}

.info-wrapper {
  padding-bottom: 18px;
}

#image-wrapper {
  text-align: center;
}

.tags {
  margin-top: 12px;
  margin-bottom: 12px;
}

