#nav-items {
  margin-bottom: 40px;
}

#search-bar-container {
  padding: 0 !important;
}

#pagination {
  text-align: center;
}

.book-title {
  margin-top: 12px;
}

.book-image {
  margin-top: 12px;
  margin-bottom: 12px;
}

.book-author {
  font-size: 12px;
}

.book-author > span {
  color: cornflowerblue;
}

.book-image-wrapper {
  text-align: center;
}

#dj-message {
  position: fixed;
  top: 0;
  width: 100%;
}

.user img {
  display: inline;
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

.user-name a:first-child {
  font-size: 20px;
  margin-right: 4px;
}

.user-name span {
  font-size: 18px;
}

.user p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}

.follow-btn {
  background-color: #f4f6f8 !important;
  float: right;
}
