.main-content {
  margin-top: 100px;
}

#nav-items {
  margin-bottom: 40px;
}

#search-bar-container {
  padding: 0 !important;
}

#pagination {
  text-align: center;
}


.book-title {
  margin-top: 12px;
}

.book-image {
  margin-top: 12px;
  margin-bottom: 12px;
}

.book-author {
  font-size: 12px;
}

.book-author > span {
  color: cornflowerblue;
}

.book-image-wrapper {
  text-align: center;
}
