{% load books %}

{% if books %}
    {% for book in books %}
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-10 col-xs-offset-1">
            <div class="thumbnail row">

                <div class="options">
                    <a class="btn btn-default dropdown-toggle" type="button"
                       id="dropdownMenu1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>



                    {% if request.user.is_superuser %}
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{% url 'books:update' book.slug %}">Update</a></li>
                        </ul>
                    {% endif %}

                </div>


                <div class="col-sm-12 col-md-4 book-image-wrapper">
                    {% if book.thumbnail_url %}
                        <img class="book-image img-responsive" src="{{ book.thumbnail_url }}"
                             alt="{{ book.name }}">

                    {% else %}

                        <img class="book-image" src="{{ book.thumbnail.url }}"
                             alt="{{ book.name }}"
                             height="240">

                    {% endif %}
                </div>
                <div class="col-sm-9 col-md-6">
                    <div>
                        <h4 class="book-title">{{ book.name }}</h4>
                        <p class="book-author">By <span>{{ book.author }}</span></p>
                        <p class="card-text">{{ book.description|truncatechars:200 }}</p>
                        <a class="read-more" href="{% url 'books:detail' book.slug %}">Read more</a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr>
                    <div class="book-actions">

                        {% if request.user.is_authenticated %}
                            {% if book|isliked:request.user %}
                                <i id="dislike-{{ book.id }}" class="fa fa-heart dislike" aria-hidden="true"></i>
                            {% else %}
                                <i id="like-{{ book.id }}" class="fa fa-heart-o like" aria-hidden="true"></i>
                            {% endif %}
                        {% else %}
                                <i class="fa fa-heart-o like" aria-hidden="true" onclick="goToLogin()"></i>
                        {% endif %}



                        <span id="likes-count-{{ book.id }}">{{ book.likes.all|length }}</span>


                        <i class="ion-chatbox"></i>
                        <span id="likes-count-{{ book.id }}">{{ book.comments.all|length }}</span>

                        {% if request.user.is_authenticated %}
                            {% if book|isBookmarked:request.user %}
                                <i id="unbookmark-{{ book.id }}" class="fa fa-bookmark unbookmark"
                                   aria-hidden="true"></i>
                            {% else %}
                                <i id="bookmark-{{ book.id }}" class="fa fa-bookmark-o bookmark" aria-hidden="true"></i>
                            {% endif %}

                        {% else %}
                            <i class="fa fa-bookmark-o bookmark" aria-hidden="true"
                               onclick="goToLogin()"></i>
                        {% endif %}


                    </div>
                </div>
            </div>

        </div>
    {% endfor %}

{% else %}

    <div class="indication-icon">
        <i class="fa fa-book" aria-hidden="true"></i>
        <h3>No result for books</h3>
    </div>

{% endif %}

