{% load staticfiles i18n %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {# Search Item #}
            <form class="navbar-form navbar-left" method="post" action="{% url 'books:index' %}">
                {% csrf_token %}
                <div id="search-bar-container">
                    <div class="input-group" id="search-bar">
                        <input type="text" class="form-control" placeholder="Title, Author, Tags..."
                               name="search" {% if search %}
                               value="{{ search }}"
                        {% endif %}>
                    </div>
                </div>
            </form>


            <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_authenticated %}
                    <li id="user-nav-img" class="nav-item">
                        <div class="btn-group">
                            <a type="button" class="dropdown-toggle" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="{{ request.user.image.url }}" class="img-rounded" height="28px">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'users:detail' request.user.username %}">Profile</a></li>
                                <li><a href="#"><a class="nav-link" href="{% url 'about' %}">About</a></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                                </li>
                            </ul>
                        </div>


                    </li>
                {% else %}
                    <li class="nav-item">
                        <a id="sign-up-link" class="nav-link"
                           href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                    </li>
                    <li class="nav-item">
                        <a id="log-in-link" class="nav-link"
                           href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
