{% load staticfiles i18n %}
<div class="m-b-1">
    <nav class="navbar navbar-dark navbar-static-top bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="/">Books Lib</a>
            <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse"
                    data-target="#bs-navbar-collapse-1">
                &#9776;
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'books:index' %}">Books</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a id="sign-up-link" class="nav-link"
                               href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                        <li class="nav-item">
                            <a id="log-in-link" class="nav-link"
                               href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
