{% extends 'books/index.html' %}
{% load static %}
{% load crispy_forms_tags books %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/books/book_detail.css' %}">
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script>
        const bookId = "{{ object.id }}"
    </script>
    <script src="{% static 'js/books/book_detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="thumbnail row info-wrapper">
            <div id="image-wrapper" class="col-xs-12 col-sm-12 col-md-4">
                {% if book.thumbnail_url %}
                    <img class="book-image" src="{{ object.thumbnail_url }}"
                         alt="{{ object.name }}"
                         height="240">

                {% else %}

                    <img class="book-image" src="{{ object.thumbnail.url }}"
                         alt="{{ object.name }}"
                         height="240">

                {% endif %}
                <div class="share">
                    <span>Share </span>
                    <i id="facebook" class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                    <i id="twitter" class="fa fa-twitter fa-2x"></i>
                    <i id="linkedin" class="fa fa-linkedin fa-2x"></i>
                </div>
                <div class="actions">
                    <a href="{% url 'books:read' object.id %}" class="btn btn-primary">Start Reading</a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'books:update' book %}" class="btn btn-primary">Update</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 ">
                <div>
                    <h4 class="book-title">{{ object.name }}</h4>
                    <p class="book-author">By <span>{{ object.author }}</span></p>
                    <div class="tags">
                        {% for tag in object.tags.all %}
                            <span class="badge badge-pill badge-default">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    <p class="card-text">{{ object.description }}</p>
                </div>
                <hr>
                <div class="book-actions">

                    {% if object|isliked:request.user %}
                        <i id="dislike-{{ object.id }}" class="fa fa-heart dislike" aria-hidden="true"></i>
                    {% else %}
                        <i id="like-{{ object.id }}" class="fa fa-heart-o like" aria-hidden="true"></i>
                    {% endif %}

                    <span id="likes-count-{{ object.id }}">{{ object.likes.all|length }}</span>


                    <i class="ion-chatbox"></i>
                    <span id="likes-count-{{ object.id }}">{{ object.comments.all|length }}</span>

                    {% if object|isBookmarked:request.user %}
                        <i id="unbookmark-{{ object.id }}" class="fa fa-bookmark unbookmark" aria-hidden="true"></i>
                    {% else %}
                        <i id="bookmark-{{ object.id }}" class="fa fa-bookmark-o bookmark" aria-hidden="true"></i>
                    {% endif %}


                </div>
            </div>
        </div>

        <div id="book-detail-infos" class="thumbnail row">
            <h4>Book Details</h4>
            <ul class="book-infos">
                <li><span>Publication date:</span> {{ object.publication_date }}</li>
                <li><span>Publisher:</span> {{ object.publisher }}</li>
                <li><span>Publication City/Country:</span> {{ object.publication_place }}</li>
                <li><span>Language:</span> {{ object.language }}</li>
                <li><span>ISBN10:</span> {{ object.isbn10 }}</li>
                <li><span>ISBN13:</span> {{ object.isbn13 }}</li>
            </ul>


        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="comments-container">
                    <button id="show-comment" class="btn btn-primary"><i class="fa fa-plus"></i> Add comment</button>
                    <form id="comment-form" action="{% url 'books:add_comment' %}" method="post" role="form">

                        {% csrf_token %}

                        <input type="hidden" name="book_id" value="{{ book.id }}">


                        {{ form|crispy }}
                        <button id="send" type="submit" class="btn btn-primary">Submit</button>
                        <button id="cancel" class="btn btn-default">Cancel</button>
                    </form>
                    <div class="comments list-group">
                        {% for comment in book.comments.all %}
                            <div class="comment list-group-item">
                                <img src="{{ comment.user.image.url }}" alt="">
                                <h3>
                                    <a href="{% url 'users:detail' comment.user.username %}">{{ comment.user.username }}</a>
                                </h3>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
