{% extends 'books/index.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/books/book_detail.css' %}">
{% endblock %}

{% block content %}
    {% comment %}<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <ol class="breadcrumb thumbnail">
                <li><a href="#">{{ object.categories }}</a></li>
                <li class="active">{{ object.name }}</li>
            </ol>
        </div>
    </div>{% endcomment %}
    <div class="container">
        <div class="thumbnail row info-wrapper">
            <div id="image-wrapper" class="col-xs-12 col-sm-12 col-md-4">
                <img class="book-image" src="{{ object.thumbnail.url }}" alt="{{ object.name }}"
                     height="240">
                <div class="share">
                    <span>Share </span>
                    <a href=""><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
                <div class="actions">
                    <a href="{{ object.link_to_pdf }}" class="btn btn-primary">Start Reading</a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'books:update' book %}" class="btn btn-primary">Update</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 ">
                <div>
                    <h4 class="book-title"><a href="{% url 'books:detail' object.slug %}"
                                              class="card-link">{{ object.name }}</a>
                    </h4>
                    <p class="book-author">By <span>{{ object.author }}</span></p>
                    <div class="tags">
                        {% for tag in object.tags.all %}
                            <span class="badge badge-pill badge-default">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    <p class="card-text">{{ object.description }}</p>
                </div>
            </div>
        </div>

        <div id="book-detail-infos" class="thumbnail row">
            <h4>Book Details</h4>
            <ul class="book-infos">
                <li><span>Publication date:</span> {{ object.publication_date }}</li>
                <li><span>Publisher:</span> {{ object.publisher }}</li>
                <li><span>Publication City/Country:</span> {{ object.publication_place }}</li>
                <li><span>Language:</span> {{ object.language }}</li>
                <li><span>ISBN10:</span> {{ object.isbn10 }}</li>
                <li><span>ISBN13:</span> {{ object.isbn13 }}</li>
            </ul>


        </div>
    </div>



{% endblock %}
