{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/books/index.css' %}">
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/books/index.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">


        <ul id="nav-items" class="nav nav-pills">
            <li class="active"><a href="#books" data-toggle="tab">Books <span
                    class="badge">{{ books|length }}</span></a></li>
            <li><a href="#users" data-toggle="tab">Users <span class="badge">{{ users|length }}</span></a></li>
        </ul>

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="list-group">
                    <a href="{% url 'books:index' %}"
                       class="list-group-item {% if not category_slug %} active {% endif %}">All</a>
                    {% for category in categories %}
                        <a href="{% url 'books:search' category.slug search %}"
                           class="list-group-item {% if category_slug == category.slug %} active {% endif %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}

                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="tab-content">
                    <div id="books" class="tab-pane active">

                        <div class="row">
                            {% include 'components/book_item.html' %}
                        </div>

                        <div class="row">
                            {% include 'components/pagination.html' %}
                        </div>

                    </div>
                    <div id="users" class="tab-pane ">
                        {% for user in users %}
                            <div class="user">

                                <h3 class="user-name">
                                    <img src="{{ user.image.url }}" class="img-responsive" alt="{{ user.username }}">
                                    <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                                    <span>{{ user.name }}</span>
                                </h3>
                                <p>{{ user.bio }}</p>
                                <hr>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
