{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/books/index.css' %}">
{% endblock %}


{% block content %}

    <div class="container">


        <ul id="nav-items" class="nav nav-pills">
            <li class="active"><a href="#books" data-toggle="tab">Books <span
                    class="badge">{{ books|length }}</span></a></li>
            <li><a href="#users" data-toggle="tab">Users <span class="badge">{{ users|length }}</span></a></li>
        </ul>

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="list-group">
                    <a href="{% url 'books:index' %}"
                       class="list-group-item {% if not category_slug %} active {% endif %}">All</a>
                    {% for category in categories %}
                        <a href="{% url 'books:search' category.slug search %}"
                           class="list-group-item {% if category_slug == category.slug %} active {% endif %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}

                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="tab-content">
                    <div id="books" class="tab-pane active">

                        <div class="row">
                            {% for book in books %}
                                <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                    <div class="thumbnail row">
                                        <div class="col-sm-12 col-md-4 book-image-wrapper">
                                            <img class="book-image" src="{{ book.thumbnail.url }}"
                                                 alt="{{ book.name }}"
                                                 height="240">
                                        </div>
                                        <div class="col-sm-9 col-md-7 ">
                                            <div>
                                                <h4 class="book-title"><a
                                                        href="{% url 'books:detail' book.slug %}"
                                                        class="card-link">{{ book.name }}</a></h4>
                                                <p class="book-author">By <span>{{ book.author }}</span></p>
                                                <p class="card-text">{{ book.description|truncatechars:200 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="row">
                            <nav id="pagination">
                                <ul class="pagination">
                                    {% if books.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ books.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in books.paginator.page_range %}
                                        <li {% if books.number == i %} class="page-item active" {% else %}
                                                                       class="page-item" {% endif %}><a
                                                class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endfor %}

                                    {% if books.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ books.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>

                    </div>
                    <div id="users" class="tab-pane ">
                        {% for user in users %}
                            <h3><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></h3>
                            <hr>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>







{% endblock %}
