.cover-page {
  height: calc(100vh - 54px);
  width: 100vw;

  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 25%;

  background-image: url("/static/images/home-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: monospace sans-serif;
  text-shadow: 1px 1px #333;
  color: #fff;

}

.m-b-1 {
  margin-bottom: 0 !important;
}
